<header>
  <div class="container">
    <h2 class="h1 mt-5 mb-3">Todo os Vídeos</h2>
  </div>
</header>

<main>
  <div class="container">
    <div class="row">
      <div class="card-deck">
        <% @videos.each do |v| %>
          <div class="col-lg-4 mb-5">
            <%= link_to play_path(v), class: "text-dark text-decoration-none" do %>
            <div class="card">
              <div class="card-header h4"><%= v.name %></div>
                <img class="card-img-top" src="https://picsum.photos/id/237/291/200" alt="<%= v.name %>">
              <div class="card-body">
                <h5 class="card-title">350 Views</h5>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
